.preview {
  overflow: auto;
}

.preview :global(.react-pdf__Document) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview :global(.textLayer) {
  position: absolute;
  text-align: initial;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  line-height: 1;
}

.preview :global(.highlight) {
  position: absolute;
  background: rgba(255, 226, 143, 1);
  color: transparent;
  mix-blend-mode: multiply;
}
